In [1]:
# Read raw data sources, clean and read extract only require datas and save it as new csv files. 

import pandas as pd
from pathlib import Path

world_air_death = Path("Priya_Resources/death-rates-from-air-pollution.csv")
          
co2_emission_annual=Path("Priya_Resources/annual-co2-emissions-per-country.csv")

death_data = pd.read_csv(world_air_death)
co2_data=pd.read_csv(co2_emission_annual)

In [2]:
death_data=death_data.dropna(how='any')
death_data=death_data.rename(columns={'Entity':'Country','Air pollution (total) (deaths per 100,000)':'Air pollution(deaths per 100,000)'})
death_data=death_data.groupby("Country")['Air pollution(deaths per 100,000)'].mean().reset_index()
death_data.head()

          Country  Air pollution(deaths per 100,000)
0     Afghanistan                         252.842551
1         Albania                          59.291351
2         Algeria                          53.680312
3  American Samoa                          70.456130
4         Andorra                          21.150254

In [3]:
death_data.to_csv("Priya_Resources/death_air_pollution.csv",index=False,header=True)

In [4]:
co2_data=co2_data.dropna(how='any')
del co2_data['Code']

co2_data.rename(columns={'Entity':'Country'},inplace=True)
co2_data

           Country  Year  Annual CO₂ emissions
0      Afghanistan  1949               14656.0
1      Afghanistan  1950               84272.0
2      Afghanistan  1951               91600.0
3      Afghanistan  1952               91600.0
4      Afghanistan  1953              106256.0
...            ...   ...                   ...
31344     Zimbabwe  2017             9596071.0
31345     Zimbabwe  2018            11795478.0
31346     Zimbabwe  2019            11114607.0
31347     Zimbabwe  2020            10607897.0
31348     Zimbabwe  2021            11296114.0

[24974 rows x 3 columns]

In [5]:
y_2000=pd.DataFrame(co2_data.loc[co2_data['Year']==2000])
del y_2000['Year']
y_2000.rename(columns={"Annual CO₂ emissions":'CO₂ Emission(2000)'},inplace=True)

y_2005=pd.DataFrame(co2_data.loc[co2_data['Year']==2005])
del y_2005['Year']
y_2005.rename(columns={"Annual CO₂ emissions":'CO₂ Emission(2005)'},inplace=True)

y_2010=pd.DataFrame(co2_data.loc[co2_data['Year']==2010])
del y_2010['Year']
y_2010.rename(columns={"Annual CO₂ emissions":'CO₂ Emission(2010)'},inplace=True)

y_2015=pd.DataFrame(co2_data.loc[co2_data['Year']==2015])
del y_2015['Year']
y_2015.rename(columns={"Annual CO₂ emissions":'CO₂ Emission(2015)'},inplace=True)

y_2020=pd.DataFrame(co2_data.loc[co2_data['Year']==2020])
del y_2020['Year']
y_2020.rename(columns={"Annual CO₂ emissions":'CO₂ Emission(2020)'},inplace=True)

y_2021=pd.DataFrame(co2_data.loc[co2_data['Year']==2021])
del y_2021['Year']
y_2021.rename(columns={"Annual CO₂ emissions":'CO₂ Emission(2021)'},inplace=True)


co2_data_years=pd.DataFrame({})

co2_data_years=pd.merge(y_2000,y_2005,on='Country')

co2_data_years=co2_data_years.merge(y_2010,on='Country')
co2_data_years=co2_data_years.merge(y_2015,on='Country')
co2_data_years=co2_data_years.merge(y_2020,on='Country')
co2_data_years=co2_data_years.merge(y_2021,on='Country')

co2_data_years

,Country,CO₂ Emission(2000),CO₂ Emission(2005),CO₂ Emission(2010),CO₂ Emission(2015),CO₂ Emission(2020),CO₂ Emission(2021)
0,Afghanistan,1.047128e+06,1.889507e+06,8.364804e+06,9.791093e+06,1.168177e+07,1.187421e+07
1,Albania,3.024926e+06,4.261413e+06,4.783865e+06,4.712137e+06,4.728559e+06,4.619109e+06
2,Algeria,8.222101e+07,1.064728e+08,1.178130e+08,1.600875e+08,1.725045e+08,1.762691e+08
3,Andorra,5.239520e+05,5.752480e+05,5.166240e+05,4.653280e+05,4.488840e+05,4.528880e+05
4,Angola,9.516064e+06,1.900599e+07,2.886450e+07,2.553095e+07,2.027573e+07,2.136272e+07
...,...,...,...,...,...,...,...
213,Wallis and Futuna,2.564800e+04,2.931200e+04,2.931200e+04,2.198400e+04,2.706900e+04,2.781800e+04
214,World,2.545362e+10,2.961460e+10,3.336435e+10,3.555857e+10,3.526409e+10,3.712385e+10
215,Yemen,1.449370e+07,1.979436e+07,2.315059e+07,1.408354e+07,1.214013e+07,1.247660e+07
216,Zambia,1.784113e+06,2.242543e+06,3.120300e+06,5.064975e+06,7.280663e+06,7.676180e+06
217,Zimbabwe,1.381820e+07,1.069849e+07,8.754012e+06,1.225495e+07,1.060790e+07,1.129611e+07

In [6]:
co2_data_years.to_csv("Priya_Resources/co2_emission_years.csv",index=False,header=True)